{
    "tabWidth": 4,
    "printWidth": 140,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "requirePragma": false,
    "proseWrap": "preserve"
}
